<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.0.0-rc.7/vue.global.js"></script>
    </head>
    <body>
        <div id="app">
            <p @click="add">
                {{data.count}}
            </p>
            <p>
                {{data.doubleCount}}
            </p>
        </div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script>
            const {createApp, reactive, onMounted, computed, watch, watchEffect } = Vue;
            createApp({
                setup() {

                    //1、消除this
                    //2、增加可读性、维护性
                    //3、复用性
                    const data = reactive({
                        count:0,
                        slet:1
                    })

                    function add(){
                        data.count++
                    }

                    onMounted(() => {
                        console.log('mounted')
                    })

                    const doubleCount = computed(()=> data.count*2)

                    //参数1函数，返回观测表达式
                    watch(()=>data.count,(val,old)=>{
                        console.log(old,' to ',val)
                    }) 
                    // watch(()=>[data.count,data.slet],([cOld,cVal],[sOld,sVal])=>{
                        //     console.log(cOld,' to ',cVal)
                        //     console.log(sOld,' to ',sVal)
                    // })
                    watchEffect(() => { 
                        console.log(data.count)
                    })

                    return {data, add, doubleCount}
                }
            }).mount("#app")
        </script>
    </body>
</html>